@media screen and (max-width: 575px) {
// _________first screen_________    
    .banner {
        & .banner_title {
            font-size: 32px;
            max-width: 295px;
        }
        & .banner_description {
            font-size: 16px;
            max-width: 275px;
            margin-bottom: 20px;
        }
    }

// _________swiper template_________    

    .template_card {
        max-width: 335px;
        padding: 0 23px 27px;
        & .img_box {
            margin: 0 -23px 29px;
            & .card_img {
                height: 213px;
            }
        }
        & .btn_row {
            gap: 12px;
            & .btn {
                width: 138px;
            }
        }
    }

// _________services page_________    
  
    .services-page {
        & .swiper_template {
            & .template_card {
                & .card_description {
                    font-size: 14px;
                    margin-bottom: 7px;
                    line-height: 17px;
                }
                & .btn_row {
                    & .btn {
                        width: 153px;
                    }   
                }
            }
        }
    }

// _________questoin page_________    

    .question_container {
        & .accordion {
            & .accordion-item {
                & .accordion-button {
                    font-size: 16px;
                    line-height: 124.5%;
                    padding: 12px 19px 10px 22px;
                    &:after {
                        margin-left: 15px;
                    }
                }
                & .accordion-body {
                    font-size: 14px;
                    line-height: 145.5%;
                    padding: 0px 15px 12px 22px;
                    margin-top: -3px;
                }
            }
        }
        & .question_form {
            padding: 38px 20px;
        }
    }

}
