@media screen and (max-width: 1024px) {
    .header_container {
        max-height: 40px;
        margin-top: 17px;
        margin-bottom: 15px;
    }
    
    .logo{
        display: none;
    }
    
    .nav_section {
        display: none;
        position: absolute;
        background-color: $color-bg-light;
        top: 55px;
        left: 0;
        &.show {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .nav_list {
        flex-direction: column;
        gap: 11px;
        margin-top: 37px;
        margin-bottom: 34px;
        a {
            font-size: 24px;
            line-height: 222%;
        }
    }

    .nav_btn {
        padding: 21px 84px;
        font-size: 16px;
        margin-bottom: 60px;
    }

    #burger {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
}


