@media screen and (max-width: 1024px) {
    section {
        padding: 55px 0 60px;
        &.accent_bg {
            &:before {
                width: 100%;
                border-radius: 0px;
            }
        }
    }
    
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .template_title {
        padding-bottom: 68px;
        &:after {
            bottom: 47px;
        }
        & h2 {
            font-size: 24px;
        }
        & h3 {
            font-size: 16px;
        }
        &.template_title_start {
            text-align: center;
            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        &.template_title_half {
            max-width: 100%;
            text-align: center;
            &:after {
                display: inline-block;
                bottom: 51px;
            }
            & h2:after {
                display: none;
            }
        }
    }

    // _________header_________
    
    .header_container {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    .logo{
        max-width: 126px;
    }
    
    .nav_section {
        position: absolute;
        background-color: $color-bg-light;
        box-shadow: 14px 22px 40px 0 $box-shadow;
        top: 72px;
        left: 0;
        max-height: 0px;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: .2s;
        z-index: 3;
        &.show {
            max-height: 508px;
        }
    }
    
    .nav_list {
        flex-direction: column;
        gap: 11px;
        margin-top: 37px;
        margin-bottom: 34px;
        a {
            font-size: 24px;
            line-height: 222%;
        }
    }
    
    .nav_btn {
        padding: 21px 84px;
        font-size: 16px;
        margin-bottom: 60px;
    }

    #burger {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

// _________first screen_________
    .slider_info {
        padding: 0;
        & .swiper-slide {
            min-height: calc(100vh - 68px);
            border-radius: 0px;
            padding: 26px 0 20px;
            background-position: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: #04051199;
                z-index: -1;
            }
        }
        &.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
            border-radius: 0px;
        }
        & .btn-lg {
            padding: 20px 36px;
        }
    }

    .first_screen img {
        border-radius: 0px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        & .banner_title {
            font-size: 44px;
            max-width: 350px;
        }
        & .banner_description {
            font-size: 18px;
            max-width: 300px;
            margin-bottom: 30px;
        }
    }

// _________calculation__________
    .calculation_container {
        margin-left: auto;
        margin-right: auto;
        padding: 52px 30px 34px 30px;
        & .special_gap {
            margin-bottom: 0px;
        }
    }

    .form_row {
        flex-direction: column;
        gap: 0px;
    }

    .control_box {
        padding-top: 6px;
        margin-bottom: 16px;
    }

    .calculation_img {
        display: none;
    }

// _________swiper template__________

    .swiper_template {
        padding: 0px 0px 10px;
        margin: 0 -15px;
        &:before,
        &:after {
            display: none;
        }
    }

    .template_card {
        max-width: 360px;
    }

// _________about page__________
 
    .about-page {
        & .container {
            flex-direction: column;
            & .about_content {
                width: 100%;
                & .content_container {
                    & p {
                        text-align: justify;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
            }
            & .img_box {
                width: 100%;
                & img {
                    max-width: 277px;
                }
            }
        }
    }

// _________question page__________

    .question_container {
        flex-direction: column;
        & .accordion {
            max-width: 100%;
        }
        & .question_form {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            & .form_description {
                text-align: center;
            }
        }
    }

 // _________registration page__________

    .registration_content {
        & .registration_row {
            flex-direction: column;
            &.flex_reverse {
                flex-direction: column-reverse;
            }
            & .description_box {
                width: 100%;
                & .registration_btn {
                    text-align: center;
                }
            }
            & .img_box {
                width: 100%;
            }
        }
    }

}