
.calculation_container {
    padding: 50px 50px 61px 50px;
    max-width: 626px;
    border-radius: 20px;
    background-color: #363a4d;
    box-shadow: 5px 15px 40px 0 #0b186152;
    & .form_row:nth-child(2) {
        margin-bottom: 34px;
    }
    & .form_row:nth-child(3) {
        margin-bottom: 26px;
    }
}


.form_row {
    display: flex;
    gap: 30px;

}

.form_column {
    width: 100%;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 6px;
    & label {
        font-weight: 600;
        font-size: 15px;
        line-height: 126%;
        color: #fff;
    }
    & input {
        border-radius: 10px;
        background-color: #fff;
        border: none;
        width: 100%;
        min-height: 56px;
        padding: 19px 20px;
        transition: .2s;
        &::placeholder {
            color: #cbcbcb;
        }
    }
}

.control_box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 19px;
}

.calculation_file {
    font-size: 15px;
    line-height: 126%;
    text-align: center;
    color: #fff;
    width: 100%;
    border: 1px dashed #ffffff42;
    border-radius: 10px;
    padding: 12px;
}
