.calculation-page {
    & .container {
        position: relative;
    }
}

.calculation_img {
    position: absolute;    
    bottom: -100px;
    left: 626px;
    max-width: 31.749vw;
}
.form {
    border-radius: 20px;
    background-color: $color-bg-light;
    box-shadow: 5px 15px 40px 0 #00000040;
}

.calculation_container {
    padding: 50px 50px 61px 50px;
    max-width: 626px;
    & .special_gap {
        margin-bottom: 15px;
    }
    & .btn_gap {
        margin-bottom: 8px;
    }
}

.form_row {
    display: flex;
    gap: 30px;
}

.form_column {
    width: 100%;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 6px;
    & label {
        font-weight: 600;
        font-size: 15px;
        line-height: 126%;
    }
    & input {
        border-radius: 10px;
        background-color: $color-text;
        border: none;
        width: 100%;
        min-height: 56px;
        padding: 0 20px;
        transition: .2s;
        color: $color-background;
        &::placeholder {
            color: #cbcbcb;
            font-size: 15px;
            line-height: 126%;
        }
    }
}

.calculation_label {
    font-size: 15px;
    line-height: 126%;
    text-align: center;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FFFFFF42' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    background-position: center;
    padding: 11px;
    &:hover,
    &:active,
    &:focus {
        color: $color-primary;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249FF' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        transition: .2s;
    }
}

.file_name {
    font-size: 15px;
    line-height: 126%;
    margin-bottom: 7px;
}

.control_box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 17px;
}