.first_screen {
  padding-bottom: 0;
  padding-top: 0;
}

.slider_info {
  @extend .container-xxl;
  overflow: hidden;
  position: relative;
  & .swiper-slide {
    min-height: 700px;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 20px;
    padding: 0 72px;
  }
  & .swiper-pagination {
    bottom: 35px;
  }
  &.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    border-radius: 20px;
  }
}

.banner {
  margin-top: -65px;
  & .banner_title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.26;
    text-transform: uppercase;
    margin-bottom: 8px;
    max-width: 480px;
  }
  & .banner_description {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.36;
    margin-bottom: 37px;
    max-width: 320px;
  }
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid $color-text;
  opacity: 1;
  &.swiper-pagination-bullet-active {
    background-color: $color-text;
  }
  &:hover {
    transform: scale(1.2);
    transition: .3s;
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 13px;
}

.arrow_container {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1570px;
  z-index: 2;
  & .swiper-button-next,
  & .swiper-button-prev {
    color: $color-text;
    width: 75px;
    height: 45px;
  }
  & :hover {
    color: $color-primary;
  }
}

.first_screen img {
    border-radius: 20px;
}
