.banner_title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.26;
  text-transform: uppercase;
  margin-bottom: 8px;
  max-width: 480px;
}

.banner_description {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.36;
  margin-bottom: 37px;
  max-width: 320px;
}

.swiper-slide {
  min-height: 700px;
  display: flex;
  align-items: center;
}