footer {
    @extend section;
    padding-bottom: 45px;
    .container {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
        & a {
            line-height: 161%;
            color: #85899c;
            &:hover {
                color: $color-primary;
                transition: .2s;
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: calc(100% - 40px);
            height: 2px;
            background-color: $color-accent;
            top: -45px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        & .contact_container {
            font-size: 14px;
            line-height: 162%;
            & .logo {
                margin-bottom: 28px;
            }
            & ul {
                margin-bottom: 20px;
                & a {
                    color: $color-text;
                    &.phone {
                        text-decoration: none;
                    }
                }
            }
            & .icon_container {
                display: flex;
                gap: 8px;
                & .icon_item img {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        & .navigation_container {
            display: flex;
            justify-content: space-between;
            margin: 0 81px;
            min-width: 706px;
            & h5 {
                font-weight: 700;
                line-height: 146%;
                margin-bottom: 8px;
            }
        }
    }

}