.registration-page {
    & .container {
        max-width: 1200px;
    }
}

.registration_content {
    display: flex;
    flex-direction: column;
    gap: 75px;
    & .registration_row {
        display: flex;
        align-items: center;
        gap: 52px;
        & .description_box {
            width: 50%;
            & ul {
                font-weight: 300;
                font-size: 17px;
                line-height: 159%;
                & li {
                    margin-bottom: 26px;
                }
            }
            & .btn_box {
                text-align: center;
            }
        }
        & .img_box {
            & img {
                width: 100%;
                display: flex;
                justify-content: center;
                overflow: hidden;
                border-radius: 20px;
                object-fit: contain;
            }
        }
        & .btn_margin {
            margin-bottom: 50px;
        }
    }
}

