<section id="about" class="about-page">
    <div class="container">
        <div class="about_content">
            <div class="template_title template_title_start">
                <h2>О компании</h2>
            </div>
            <div class="content_container">
                <p>Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину -
                    сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай - Украину. Для вашего
                    удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании
                    занимаются логистикой уже более 11 лет.</p>
                <p>Мы стремимся предоставить лучшие условия доставки и лучший
                    сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени!
                    Убедитесь в этом сами!</p>
            </div>
        </div>
        <div class="img_box">
            <img class="img-fluid" src="assets/img/about.png" alt="img">
        </div>
    </div>
</section>