 <section class="advantages-page accent_bg">
     <div class="container">
        <div class="template_title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="slider_advantages">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_1.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Таможенное оформление груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_2.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Страховка груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_3.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Проверка товара на брак</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_4.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Доставка в любой город Украины</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_5.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Консолидация на складе</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_6.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Ответственное хранение груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_7.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Помощь в оплате товара</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage_content">
                        <div class="img_box">
                            <img src="assets/img/advantages_icon_8.svg" alt="icon">
                        </div>
                        <h6 class="advantage_title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h6>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
     </div>
 </section>   