<section class="delivery-page">
    <div class="container">
        <div class="template_title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="swiper_template">
            <div class="swiper-wrapper">
                <div id="auto" class="swiper-slide">
                    <div class="template_card">
                        <div class="img_box">
                            <img class="card_img img-fluid" src="assets/img/delivery_slider_1.png" alt="">
                        </div>
                        <h4 class="card_title">Авто - обычная</h4>
                        <div class="card_options">
                            <div class="options_list">
                                <div class="option_item"><img src="assets/img/delivery_calendar_icon.svg" alt="calendar_icon">9-15 дней</div>
                                <div class="option_item"><img src="assets/img/delivery_box_icon.svg" alt="box_icon">от 5 кг</div>
                            </div>
                            <div class="card_price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn_row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
                <div id="auto_fast" class="swiper-slide">
                    <div class="template_card">
                        <div class="img_box">
                            <img class="card_img img-fluid" src="assets/img/delivery_slider_2.png" alt="">
                        </div>
                        <h4 class="card_title">Авто - ускоренная</h4>
                        <div class="card_options">
                            <div class="options_list">
                                <div class="option_item"><img src="assets/img/delivery_calendar_icon.svg" alt="calendar_icon">9-15 дней</div>
                                <div class="option_item"><img src="assets/img/delivery_box_icon.svg" alt="box_icon">от 5 кг</div>
                            </div>
                            <div class="card_price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn_row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
                <div id="avia" class="swiper-slide">
                    <div class="template_card">
                        <div class="img_box">
                            <img class="card_img img-fluid" src="assets/img/delivery_slider_3.png" alt="">
                        </div>
                        <h4 class="card_title">Авиа</h4>
                        <div class="card_options">
                            <div class="options_list">
                                <div class="option_item"><img src="assets/img/delivery_calendar_icon.svg" alt="calendar_icon">9-15 дней</div>
                                <div class="option_item"><img src="assets/img/delivery_box_icon.svg" alt="box_icon">от 5 кг</div>
                            </div>
                            <div class="card_price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn_row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
                <div id="railway" class="swiper-slide">
                    <div class="template_card">
                        <div class="img_box">
                            <img class="card_img img-fluid" src="assets/img/delivery_slider_5.png" alt="">
                        </div>
                        <h4 class="card_title">Ж/д</h4>
                        <div class="card_options">
                            <div class="options_list">
                                <div class="option_item"><img src="assets/img/delivery_calendar_icon.svg" alt="calendar_icon">9-15 дней</div>
                                <div class="option_item"><img src="assets/img/delivery_box_icon.svg" alt="box_icon">от 5 кг</div>
                            </div>
                            <div class="card_price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn_row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template_card">
                        <div class="img_box">
                            <img class="card_img img-fluid" src="assets/img/delivery_slider_4.png" alt="">
                        </div>
                        <h4 class="card_title">Море</h4>
                        <div class="card_options">
                            <div class="options_list">
                                <div class="option_item"><img src="assets/img/delivery_calendar_icon.svg" alt="calendar_icon">9-15 дней</div>
                                <div class="option_item"><img src="assets/img/delivery_box_icon.svg" alt="box_icon">от 5 кг</div>
                            </div>
                            <div class="card_price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn_row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="arrow_container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>