<section class="first_screen">
  <div class="slider_info">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(assets/img/first_screen_1.png);">
        <div class="container">
          <div class="banner">
            <h1 class="banner_title">Прямое КАРГО из Китая</h1>
            <p class="banner_description">Доставляем любые грузы из Китая по честной цене</p>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/btn_arrow.svg" class="icon"></button>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(assets/img/first_screen_2.png);">
        <div class="container">
          <div class="banner">
            <h2 class="banner_title">Выкуп товара с ТаоБао, 1688</h2>
            <h6 class="banner_description"><p class="mb-0">Выкуп и доставка товаров</p>с китайских торговых площадок</h6>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/btn_arrow.svg" class="icon"></button>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(assets/img/first_screen_3.png);">
        <div class="container">
          <div class="banner">
            <h2 class="banner_title">Экспресс авто доставка</h2>
            <p class="banner_description">Доставка товаров из Китая в кратчайшие сроки</p>
            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/btn_arrow.svg" class="icon"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="arrow_container">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>