<div class="container">
    <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://picsum.photos/400/300?grayscale" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://loremflickr.com/g/420/440/gray" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://loremflickr.com/g/320/240/paris" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>