<footer>
    <div class="container">
        <div class="contact_container">
            <div class="footer_column">
                <a href="index.html">
                    <img class="logo img-fluid" src="assets/img/logo.svg" alt="logo">
                </a>
                <ul>
                    <li><a class="phone" href="tel:8(800)600-18-69">8(800)600-18-69</a></li>
                    <li><a href="mailto: info@cargoasia.info">info@cargoasia.info</a></li>
                    <li>Адрес в Китае:</li>
                    <li>浙江省金华市义乌市后宅街道洪华小区5</li>
                    <li>栋一单元一楼RT789库房 高建军 电话</li>
                    <li>15966660379</li>
                </ul>
                <div class="icon_container">
                    <div class="icon_item">
                        <img src="assets/img/footer_instagram.svg" alt="instagram">
                    </div>
                    <div class="icon_item">
                        <img src="assets/img/footer_vkontakte.svg" alt="vkontakte">
                    </div>
                    <div class="icon_item">
                        <img src="assets/img/footer_telegram.svg" alt="telegram">
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation_container">
            <div class="footer_column">
                <h5>Грузоперевозки</h5>
                <ul>
                    <li><a href="#">Цены и сроки</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Оформить груз</a></li>
                </ul>
            </div>
            <div class="footer_column">
                <h5>Услуги</h5>
                <ul>
                    <li><a href="#">Выкуп товара</a></li>
                    <li><a href="#">Страховка груза</a></li>
                    <li><a href="#">Аренда склада</a></li>
                    <li><a href="#">Перевод денежных средств</a></li>
                </ul>
            </div>
            <div class="footer_column">
                <h5>Информация</h5>
                <ul>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Требования к грузу</a></li>
                    <li><a href="#">Договор-оферта</a></li>
                    <li><a href="#">Как заключить договор</a></li>
                    <li><a href="#">Способы оплаты услуг</a></li>
                    <li><a href="#">Документы</a></li>
                    <li><a href="#">Статьи</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>