<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>Master Tao</title>
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/hamburgers.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="markup.html" style="position: fixed;bottom: 16px;left: 28px; z-index: 1000;">markup</a>
