<header>
    <div class="container header_container">
        <a href="index.html">
            <img class="logo" src="../assets/img/logo.svg" alt="logo">
            <img class="logo_mobile" src="../assets/img/logo_mobile.svg" alt="logo">
        </a>
        <div class="nav_section">
            <nav class="nav_list">
                <a href="#">Цены и сроки</a>
                <a href="#">Услуги</a>
                <a href="#">О компании</a>
                <a href="#">Контакты</a>
                <a href="#">Оформить груз</a>
            </nav>
            <button type="button" class="btn btn-primary nav_btn">Оставить заявку</button>
        </div>
        <!-- <button id="burger" type="button" class="btn btn-primary ms-auto">Бургер</button> -->
        <button id="burger" class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>

