<header class="header-page">
    <div class="header_container">
        <a href="index.html">
            <img class="logo img-fluid" src="assets/img/logo.svg" alt="logo">
        </a>
        <div class="nav_section">
            <nav class="nav_list">
                <a href="#calculation">Цены и сроки</a>
                <a href="#services">Услуги</a>
                <a href="#about">О компании</a>
                <a href="#contact">Контакты</a>
                <a href="#calculation">Оформить груз</a>
            </nav>
            <button type="button" class="btn btn-primary nav_btn">Оставить заявку</button>
        </div>
        <button id="burger" class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>