<section class="question-page">
    <div class="container">
        <div class="template_title">
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <div class="question_container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Как рассчитывается стоимость доставки?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. At officiis velit deleniti vero, optio repellat nobis saepe laboriosam iste iusto voluptatum voluptatibus.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Как происходит оплата за доставку груза?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat labore dignissimos, adipisci corporis asperiores provident mollitia repellendus cum reiciendis consequuntur quis. Ab, cupiditate reprehenderit, ipsum excepturi a odio ipsam reiciendis quidem nobis tempore, minima itaque dolorum necessitatibus porro rem explicabo!</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Как происходит оплата за доставку груза?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, neque esse.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Можно ли через вас оплатить товар поставщику?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            В чём особенность КАРГО доставки из Китая
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugit qui quia molestias eius eligendi modi enim deserunt facere dolores, fugiat inventore sunt ullam cum itaque culpa. Sit molestiae nihil aliquid dolorem quia saepe quae iusto natus ab odio doloribus id, perspiciatis, ipsa repudiandae corporis. Repellendus minus repellat, aliquam beatae, atque architecto ea illum mollitia vitae modi aliquid fugit earum dolores veniam sint consequatur dignissimos dolorem cumque optio. Aperiam placeat voluptatibus quaerat eaque consequuntur recusandae odio nostrum!</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseSix">
                            Какой срок доставки из Китая?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sapiente minima. Eos commodi id quibusdam distinctio velit in. Voluptas magni nam id vitae inventore deleniti quisquam autem esse itaque officia cumque nisi consequuntur dolorum reprehenderit odio, vero quis dolor voluptates numquam quaerat, officiis, rerum corrupti odit hic! Perspiciatis earum neque, quia non delectus voluptatem magni?</div>
                    </div>
                </div>
            </div>
            <form class="question_form form">
                <h3 class="form_title">Остались вопросы?</h3>
                <p class="form_description">Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
                <div class="input_box">
                    <input type="text" id="name" placeholder="Имя *">
                    <input type="text" id="surname" placeholder="Телефон *">
                    <input type="text" id="email" placeholder="E-mail">
                    <textarea id="question" placeholder="Ваш вопрос"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-lg">Отправить запрос<img src="assets/img/btn_arrow.svg" class="icon"></button>
            </form>
        </div>
    </div>
</section>