<section class="registration-page accent_bg">
    <div class="container">
        <div class="template_title">
            <h2>Готовы к сотрудничеству?</h2>
            <h3>Зарегистрируйте груз!</h3>
        </div>
        <div class="registration_content">
            <div class="registration_row flex_reverse">
                <div class="description_box">
                    <ul class="custom_li">
                        <li>Для того, чтобы начать сотрудничество, необходимо оформить груз указав информацию о содержимом груза, его стоимость и количество. А так-же прикрепив фотографии к заявке.</li>
                        <li>Если требуется проверка товара на соответсвие количеству, то при оформлении груза на нашем сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе и их стоимость.</li>
                        <li>До отправки груза на наш склад в Китае обязательно позаботьтесь о том, чтобы сделать маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то попросите об этом своего поставщика.</li>
                    </ul>
                </div>
                <div class="img_box">
                    <img class="img-fluid" src="assets/img/registration_1.png" alt="img">
                </div>
            </div>
            <div class="registration_row">
                <div class="img_box">
                    <img class="img-fluid" src="assets/img/registration_2.png" alt="img">
                </div>
                <div class="description_box">
                    <ul class="custom_li">
                        <li>После отправки груза на наш склад в Китае, Вам обязательно нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации Вашего груза на нашем складе.</li>
                        <li>Если Вы оформили груз по нашей инструкции и сделали все правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На складе".</li>
                    </ul>
                    <div class="registration_btn">
                        <button type="button" class="btn btn-primary btn-lg">Оформить груз<img src="assets/img/btn_arrow.svg" class="icon"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>