<section id="services" class="services-page accent_bg">
    <div class="container">
        <div class="template_title">
            <h2>Услуги</h2>
        </div>
        <div class="swiper_template">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="template_card" style="background-image: url('assets/img/services_slider_1.png');">
                        <h4 class="card_title">Выкуп товара</h4>
                        <h6 class="card_description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn_row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template_card" style="background-image: url('assets/img/services_slider_2.png');">
                        <h4 class="card_title">Страховка груза</h4>
                        <h6 class="card_description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn_row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template_card" style="background-image: url('assets/img/services_slider_3.png');">
                        <h4 class="card_title">Аренда склада</h4>
                        <h6 class="card_description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn_row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template_card" style="background-image: url('assets/img/services_slider_4.png');">
                        <h4 class="card_title">Перевод денежных средств</h4>
                        <h6 class="card_description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn_row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="arrow_container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>